<%= form_tag '/add', remote: true do %>
  <input name='operand1' type='text' />
  <span class='operator'>+</span>
  <input name='operand2' type='text' />
  <input type='submit' value='=' />
  <input name='answer' disabled='disabled' class='answer' value='???' />
<% end %>

<script type='text/javascript'>
  $('form').on('submit', function(e) {
    if ($('input[name=operand1]').val() == '2' && $('input[name=operand2]').val() == '2') {
      $('.answer').val('5');
      return false;
    }
  });
</script>